{{#if link}}
<a href="{{link}}" style="text-decoration: none;">
{{/if}}

    {{#if id}}
    <div id="{{id}}" class="icon icon-dir_{{direction}} 
    icon-color_{{bgColor}}
    {{#if size}} icon-size_{{size}} {{/if}}
    {{#if circular}}icon-circular{{/if}}" >
    {{/if}}

        {{#if text}}<span class="icon__text icon__text-color_{{textColor}}">{{text}}</span> {{/if}}
        <img class="icon__img" src="{{srcIcon}}" alt="*">

    {{#if id}}
    </div>
    {{/if}}

{{#if link}}
</a>
{{/if}}
