<div class="modal" id="{{id}}">
  <div class="modal_overlay">
    <div class="modal_content">
      <div class="modal_content__title">{{title}}</div>
      <p class="modal_content__message">{{message}}</p>
      <div class="modal_content-actions">
        <button class="modal_content__btn modal_content-confirm">{{confirmText}}</button>
        <button class="modal_content__btn modal_content-cancel">{{cancelText}}</button>
      </div>
    </div>
  </div>
</div>