  <a href="#" id="{{this.id}}">
    <div class="card" style="width: {{ this.width }}px; height: {{ this.height }}px;">
      <img src="{{this.previewUrl}}" alt="{{this.title}} card__preview" class="card__preview">
    </div>
    {{#if this.title}}
      <div class="card__title" style="width: {{ this.width }}px;">{{this.title}}</div>
    {{/if}}
  </a>