  <a class="card-a card-component" {{#if url}} href="{{this.url}}" {{/if}} id="{{this.id}}">
    <div class="card {{#if hover}}card--hover{{/if}}">
      <div class="card__top-elems-container">
        <div class="card__top-text">{{this.topText}}</div>
      </div>
      
      <img src="{{this.previewUrl}}" alt="{{this.title}} card__preview" class="card__preview">

      <div class="card__bottom-elems-container">
        <div class="card__bottom-text">{{this.bottomText}}</div>
      </div>
    </div>
    {{#if this.title}}
      <div class="card__title">{{this.title}}</div>
    {{/if}}
  </a>