<div class="u_input {{#if inputClasses}} {{inputClasses}} {{/if}}" id="{{id}}">
    <input class="u_input__field" id="{{inputFieldId}}" placeholder="{{placeholder}}" type="{{type}}" value="{{text}}">
</div>
