<button
    id="{{id}}"
    class="u_button u_button-color_{{color}}"
    {{#if disabled}} disabled {{/if}}
    {{#if form}} form="{{form}}" type="{{btnType}}" name="{{btnName}}" {{/if}}
    {{#if autofocus}} autofocus="autofocus" {{/if}} >
    {{#if srcIcon}}
        <img src="{{srcIcon}}" class="u_button__icon" alt="icon">
    {{/if}}
    <span class="u_button__text u_button__text-color_{{textColor}}"> {{btnText}} </span>
</button>
