<div class="movie-page__general-info-block flex-dir-row">

  <div class="general-info-block__movie-info-column flex-dir-col">
    <div class="movie-info-column__logo">
      <img class="movie-info-column__logo-image" src="{{movie.logo}}">
    </div>
    <div class="movie-info-column__additional-info flex-dir-row">
      <div class="movie-info__rating-element flex-dir-row">
        <img src="/static/svg/imdb.svg">{{movie.ratingImdb}}
      </div>
      <div class="movie-info__rating-element flex-dir-row">
      <img src="/static/svg/kinopoisk.svg">{{movie.ratingKp}}
      </div>
      <div class="movie-info__rating-element flex-dir-row">
      <img src="/static/svg/flk.svg">{{movie.rating}}
      </div>
      

    </div>
    <div class="movie-info-column__short-description">{{movie.shortDescription}}</div>
    <div class="movie-info-column__buttons flex-dir-row js-movie-buttons"></div>
  </div>

  <div class="general-info-block__gradient"></div>
  <div class="general-info-block__backdrop">
    <img class="general-info-block__backdrop-image" src="{{movie.backdrop}}">
  </div>

</div>

<div class="movie-page__detailed-info flex-dir-col">

  <div class="detailed-info__titles-wrapper flex-dir-row">

    <div class="detailed-info__movie-titles flex-dir-col">
      <div class="detailed-info__title">{{movie.name}} ({{movie.releaseYear}})</div>
      <div class="detailed-info__original-title">{{movie.originalName}}</div>
    </div>

    <div class="detailed-info__about-title">О фильме:</div>

  </div>

  <div class="detailed-info__wrapper flex-dir-row">

    <div class="detailed-info__left-column flex-dir-col">

      <div class="detailed-info__detailed-description">{{#if movie.about }}{{movie.about}}{{else}}Описание фильма недоступно.{{/if}}</div>
      
      <div class="detailed-info__watchability flex-dir-col">
        <div class="watchability__title">Где посмотреть:</div>
        {{#if movie.watchability}}
          <div class="watchability__list">
            {{#each movie.watchability}}
              <a class="watchability__item" href="{{this.movieUrl}}" target="_blank">
                <img class="watchability__logo" src="{{this.logoUrl}}">
              </a>
            {{/each}}
          </div>
        {{else}}
          <div class="watchability__empty">Нет информации о доступности для просмотра.</div>
        {{/if}}
      </div>
    
    </div> 

    <div class="detailed-info__right-column">
      <div class="detailed-info__grid">
        {{#each this.info}}
          <div class="detailed-info__grid-item">
            <div class="detailed-info__field-title">{{ title }}</div>
            <div class="detailed-info__field-value">{{ value }}</div>
          </div>
        {{else}}
          <p>Подробная информация о фильме недоступна.</p>
        {{/each}}
      </div>
    </div>

  </div>

  <div class="movie-page__actors flex-dir-col">
    <div class="movie-page__actors-title">Актеры:</div>
    <div class="movie-page__actors-scroll flex-dir-col js-actors-list"></div>
  </div>

</div>

<div class="movie-page__reviews-wrapper flex-dir-col flex-start js-reviews">

  <div class="movie-page__reviews-title">Отзывы:</div>

  <form class="movie-page__review-form flex-dir-col flex-start js-review-form" type="submit"></form>
  
  <div class="movie-page__reviews flex-dir-col flex-start">
    {{#each movie.reviews}}
      <div class="movie-page__review-card flex-dir-col flex-start">
        <div class="movie-page__review-card-header flex-dir-row">
          <div class="movie-page__review-rating-wrapper flex-dir-row">
            <img class="movie-page__review-star" src="/static/svg/star.svg" alt="star">
            <div class="movie-page__review-rating">{{ score }}</div>
          </div>
          <div class="movie-page__review-info flex-dir-row flex-center">
            <div class="movie-page__review-user flex-dir-row">
              <div class="movie-page__review-user-name"><b> {{ user.login }} </b></div>
              <img class="movie-page__review-user-avatar" src="{{#if user.avatar}} {{ user.avatar }} {{else}} /static/svg/Avatar large.svg {{/if}}" alt="avatar">
            </div>
             <div class="movie-page__review-date">{{ createdAt }}</div>
          </div>
        </div>
        <div class="movie-page__review-text">{{ reviewText }}</div>
      </div>
    {{else}}
      <p>Отзывов пока нет. Будьте первым!</p>
    {{/each}}
  </div>
</div>