<div class="stars" id="{{ id }}" data-rating="{{ initialRating }}">
  <div class="stars__container js-stars-container">
    {{#each starsRange}}
    <span class="stars__star js-star" data-value="{{this.sign}}">
      {{{this.svg}}}
    </span>
    {{/each}}
    <div class="stars__rating-container">
      <span class="stars__rating js-stars-rating"></span><b>{{#if this.withInfo}}  / {{ starsRange.length }}</b>{{/if}}
    </div>
  </div>
</div>