<div class="input {{#if inputClasses}} {{inputClasses}} {{/if}}" id="{{id}}">
    <input class="input__field" id="{{inputFieldId}}" placeholder="{{placeholder}}" type="{{type}}" value="{{text}}">
</div>
