<div class="textarea" id="{{id}}">
    <textarea class="textarea__field" name="{{name}}" placeholder="{{placeholder}}" maxlength={{maxlength}}>{{text}}</textarea>
    <div class="textarea__error-container"></div>
</div>
