{{!-- <div class="review-card flex-dir-col flex-start">
  <div class="review-card__header flex-dir-row">
    <div class="header__rating flex-dir-row movie-page__header">
      <img class="review-card__star" src="/static/svg/star.svg" alt="star">
      <div class="review-card__rating">{{ score }}</div>
    </div>
    <div class="review-card__info flex-dir-row flex-center">
      <div class="review-card__user flex-dir-row">
        <div class="review-card__name"><b> {{ user.login }} </b></div>
        <img class="review-card__avatar" src="{{#if user.avatar}} {{ user.avatar }} {{else}} /static/svg/Avatar large.svg {{/if}}" alt="avatar">
      </div>
       <div class="review-card__date">{{ createdAt }}</div>
    </div>
  </div>
  <div class="review-card__text">{{ reviewText }}</div>
</div> --}}

<div class="movie-page__review-card flex-dir-col flex-start">
        <div class="movie-page__review-card-header flex-dir-row">
          <div class="movie-page__review-rating-wrapper flex-dir-row">
            <img class="movie-page__review-star" src="/static/svg/star.svg" alt="star">
            <div class="movie-page__review-rating">{{ score }}</div>
          </div>
          <div class="movie-page__review-info flex-dir-row flex-center">
            <div class="movie-page__review-user flex-dir-row">
              <div class="movie-page__review-user-name">{{ user.login }}</div>
              <img class="movie-page__review-user-avatar" src="{{#if user.avatar}} {{ user.avatar }} {{else}} /static/svg/Avatar large.svg {{/if}}" alt="avatar">
            </div>
             <div class="movie-page__review-date">{{ createdAt }}</div>
          </div>
        </div>
        <div class="movie-page__review-text">{{ reviewText }}</div>
      </div>