<div class='user-page'>
  <div class='user-page__upper'>
    <div class='user-page__avatar'>
      {{#if avatar}}
        <img src='{{avatar}}' alt='Avatar' />
      {{else}}
        <div class='user-page__avatar-placeholder'>
          <span class='placeholder-icon'>?</span>
        </div>
      {{/if}}
    </div>

    <div class='user-page__info'>
      <div class='user-page__info-top'>
        <h1 class='user-page__name'>{{username}}</h1>
        <div class='user-page__action-button'></div>
      </div>

      <div class='user-page__info-middle'>
        <p class='user-page__detail'>
          Регистрация:<br />
          {{#if createdAt}}{{createdAt}}{{else}}-{{/if}}
        </p>
        {{! TODO: решить, оставляем ли или меняем }}
        {{!-- <p class='user-page__detail'>
          Дата рождения:<br />
          {{#if birthDate}}{{birthDate}}{{else}}-{{/if}}
        </p> --}}
        {{!-- <p class='user-page__detail'>
          Рейтинг рецензий<br />
          на фильмы:<br />
          {{#if rating}}{{rating}}{{else}}-{{/if}}
        </p> --}}
        <div class='user-page__stats-item'>
          <span class='user-page__stats-number'>{{#if moviesCount}}{{moviesCount}}{{else}}-{{/if}}</span>
          <span class='user-page__stats-label'>просмотрено<br />фильмов</span>
        </div>

      </div>

      {{! TODO: окончательно понять, что отрисовываем и храним, а что нет }}
      {{!-- <div class='user-page__info-bottom'>
        <div class='user-page__stats-item'>
          <span class='user-page__stats-number'>{{#if moviesCount}}{{moviesCount}}{{else}}-{{/if}}</span>
          <span class='user-page__stats-label'>просмотрено<br />фильмов</span>
        </div>
        <div class='user-page__stats-item'>
          <span class='user-page__stats-number'>{{#if seriesCount}}{{seriesCount}}{{else}}-{{/if}}</span>
          <span class='user-page__stats-label'>просмотрено<br />сериалов</span>
        </div>
      </div> --}}

    </div>
  </div>

  <div class='tabs-container'></div>
</div>