<div class='user-page'>
  <div class='gradient'>
    <div class='user-page__upper'>
      <div class='user-page__avatar'>
        {{#if avatar}}
          <img src='{{avatar}}' alt='Avatar' />
        {{else}}
          <div class='user-page__avatar-placeholder'>
            <span class='placeholder-icon'>?</span>
          </div>
        {{/if}}
      </div>

      <div class='user-page__info'>
        <div class='user-page__info-top'>
          <h1 class='user-page__name'>{{username}}</h1>
          <div class='user-page__action-button'></div>
        </div>

        <div class='user-page__info-middle'>
          <span class='user-page__detail'>
            Регистрация:<br />
            {{#if createdAt}}{{createdAt}}{{else}}-{{/if}}
          </span>
          <span class='user-page__detail'>
            Актёров в избранном:<br />
            {{#if actorsCount}}{{actorsCount}}{{else}}0{{/if}}
          </span>
          <span class='user-page__detail'>
            Рейтинг отзывов<br />на фильмы:<br />
            {{#if rating}}{{rating}}{{else}}-{{/if}}
          </span>
          <span class='user-page__detail'>
            Фильмов в избранном:<br />
            {{#if moviesCount}}{{moviesCount}}{{else}}0{{/if}}
          </span>
        </div>
      </div>
    </div>

    <div class='tabs-container'></div>
  </div>
  <div class='user-page__content'></div>
</div>